<h1>Questionaire results for <%= @user.name %></h1>

<p> Full Name: <%= @user.name %>. </p>
<p> Email: <%= @user.email %>. </p>
<p> Project Repo: <%= @user.projectrepo %>. </p>
<p> Project URL: <%= @user.projecturl %>. </p>
<p> Using Best Practices for OPP: <%= @user.ubpfo %>. </p>
<p> Modular Development: <%= @user.md %>. </p>
