
<div class="outerbackground">
<div class="trimform">
<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-12">
    <%= f.text_field :name, :placeholder => 'FULL NAME', :class => 'form-control trimfield' %>
  </div>

  <div class="field form-group col-12">
    <%= f.text_field :email, :placeholder => 'EMAIL', :class => 'form-control trimfield' %>
  </div>

  <div class="field form-group col-12">
    <%= f.text_field :projectrepo, :placeholder => 'PROJECT REPO', :class => 'form-control trimfield' %>
  </div>

  <div class="field form-group col-12">
    <%= f.text_field :projecturl, :placeholder => 'PROJECT URL', :class => 'form-control trimfield' %>
  </div>

  <div class="field form-group row">
    <label for="example-number-input" class="col-9 col-form-label">USING BEST PRACTIVES FOR OPP:</label>
  <div class="col-3">
    <%= f.number_field :ubpfo, :placeholder => '10', :class => 'form-control trimfield' %>
  </div>
  </div>


  <div class="field form-group row">
    <label for="example-number-input" class="col-9 col-form-label">MODULAR DEVELOPMENT:</label>
<div class="col-3">
    <%= f.number_field :md, :placeholder => '20', :class => 'form-control trimfield' %>
  </div>
  </div>

  <div class="actions col-12 container">
    <button type="submit" class="btn btn-primary col-12" id="button"> <%= f.submit  'SUBMIT', :class => 'form-control2' %> </button>
  </div>
<% end %>

</div>
</div>
